<div class="row" ng-controller="uploadFilesCtrl">

    <div class="col-md-12">
        <table class="table">
            <thead>
            <tr>
                <th width="70%">Name</th>
                <th ng-show="uploader.isHTML5">Size</th>
                <th ng-show="uploader.isHTML5">Progress</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in uploader.queue">
                <td><strong>{{ item.file.name }}</strong></td>
                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                <td ng-show="uploader.isHTML5">
                    <div class="progress" style="margin-bottom: 0;">
                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                    </div>
                </td>
                <td class="text-center">
                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                </td>
                <td nowrap>
                    <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                        <span class="glyphicon glyphicon-upload"></span> Upload
                    </button>
                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                        <span class="glyphicon glyphicon-trash"></span> Remove
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <label class="btn btn-success btn-lg btn-file uploadButton">Upload
            <input type="file" nv-file-select="" uploader="uploader" style="display: none;">
        </label>
    </div>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <div class="btn-group">
            <button type="button" class="btn btn-default" ng-class="{currSec:article.section=='news'}" ng-click="setSection('news')"><i class="fa fa-newspaper-o fa-3x"></i></button>
            <button type="button" class="btn btn-default" ng-class="{currSec:article.section=='old'}" ng-click="setSection('old')"><i class="fa fa-history fa-3x"></i></button>
            <button type="button" class="btn btn-default" ng-class="{currSec:article.section=='various'}" ng-click="setSection('various')"><i class="fa fa-coffee fa-3x"></i></button>
            <button type="button" class="btn btn-default" ng-class="{currSec:article.section=='inOut'}" ng-click="setSection('inOut')"><i class="fa fa-heartbeat fa-3x"></i></button>
            <button type="button" class="btn btn-default" ng-class="{currSec:article.section=='videos'}" ng-click="setSection('videos')"><i class="fa fa-video-camera fa-3x"></i></button>
        </div>
    </div>
    <div class="col-md-2">
        <button type="button" ng-click="del()" class="btn btn-danger btn-lg btn-block">
            Supprimer
        </button>
    </div>
</div>
<div class="row"><br></div>
<div class="row" ng-controller="TinyMceController">
    <div class="col-md-12">
        <textarea ui-tinymce="tinymceOptions" ng-model="tinymceModel">test</textarea>
    </div>
</div>
<div class="row"><br></div>
<div class="row">
    <div class="panel_article panel_edit">
        <div class="panel_left" ng-controller="uploadCtrl">
            <label for="file_input">
                <img src="assets/img/default.png" alt="panel_img" class="img-thumbnail" ng-src="{{$parent.article.thumbnail}}" onerror="this.src='assets/img/default.png'">
            </label>
            <input id="file_input" type="file" ng-click="setLoader()" ngf-select="uploadFiles($file, $invalidFiles)"
                   accept="image/*" ngf-max-height="1900" ngf-max-size="5MB">
        </div>
        <div class="panel_right">
            <div class="panel" ng-class="getCurrPanel()">
                <div class="panel-heading articleHeader">
                    <input id="title" ng-model="article.title" type="text" class="form-control input-large panel-title" placeholder="Titre...">
                </div>
                <div class="panel-body">
                    <textarea class="form-control" id="short" ng-model="article.short" maxlength="700" placeholder="Résumé..."></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Paramètres</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <select name="type" class="form-control" ng-model="article.position">
                            <option value="hide">Ne pas poster</option>
                            <option value="normal">Poster</option>
                            <option value="first">Poster en premier</option>
                            <option value="second">Poster en second</option>
                            <option value="third">Poster en troisième</option>
                            <option value="heart">Coup de coeur</option>
                            <option value="rage">Coup de gueule</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-9">
    </div>
    <div class="col-md-3">
        <button type="button" ng-click="save.func()" class="btn btn-primary btn-block btn-lg">{{save.text}}
            <div class="loader" ng-hide="save.text"></div>
        </button>
    </div>
</div>