<div class="">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="col-md-5 fiche">
                <img class="profile" src="assets/img/audrey.jpg">
                <h1>Audrey</h1>
                <p><strong>Âge :</strong> 20 ans. </br>
                    <strong>Vie professionnelle :</strong></br>
                    étudiante en droit.</br>
                    <strong>Hobbies :</strong></br>
                    À une époque c'était la gym.</br>
                    Maintenant c'est le McDonald's.</br>
                    <strong>Particularité :</strong></br>
                    a vécu 5 ans à l'étranger.</p>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5 fiche">
                <img class="profile" src="assets/img/lewogona.jpg">
                <h1>Lewogona</h1>
                <p><strong>Âge :</strong> entre 20 et 25. </br>
                    <strong>Vie professionnelle :</strong></br>
                    recherche encore sa voie.</br>
                    <strong>Hobbies</strong></br>
                    Vivre des vies différentes grâce aux jeux.</br>
                    Créer des vies différentes grâce à l'écriture.</br>
                    <strong>Particularité :</strong></br>
                    vit la nuit, <s>dort</s> vit le jour.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="col-md-12 why">
                <h2 class="text-center">Pourquoi nous nous sommes lancées ?<br><br></h2>
                <div class="col-md-6 answer">
                    <p><strong>Audrey : </strong>Le pourquoi du comment de ce projet ? L’idée vient de Lewogona. Évidemment que ce genre d’idée ingénieuse ne peut
                        venir que d’elle. Une fois qu’elle a eu l’idée, elle est venue me le dire, et m’a proposé de participer à la création
                        du site. J’ai directement accepté sans réfléchir. Pourquoi ? Parce qu’il m’arrivait souvent de lui envoyer un lien ou
                        de taguer Lewo’ sur un post Facebook en commentant ce que je pensais. Donc, pourquoi ne pas rendre public ce que je
                        pense sur telle ou telle chose. </br></br>
                        Lewo’ et moi, on se connait depuis maintenant 16 ans. On s’est toujours très bien entendue, et même lorsqu’on a des
                        points de vue différents sur certains sujets. C’est son projet, et j’ai l’honneur, le bonheur, et le privilège d’y
                        participer. Je sais que c’est quelque chose qui lui tient à coeur, et je suis heureuse de pouvoir l’aider par un moyen
                        ou un autre. </br></br>
                        Quant à « l’avenir » du site… J’espère déjà en apprendre beaucoup de l’écriture d’articles. C’est la première fois que
                        je m’initie à une telle activité. Ensuite, j’espère qu’on pourra développer le site comme on le souhaite, faire des
                        collaborations avec d’autres auteurs ou autres. Et si on n’écrit plus sur ce site, on écrira toujours autre part dans
                        tous les cas.</p>
                </div>
                <div class="col-md-6 answer">
                    <p><strong>Lewo' : </strong>L'idée est venue suite aux idées accordées qu'on avait avecc Audrey à chaque fois qu'il se
                        passe quelque chose, autant dans le monde que dans nos vies personnelles. On a beau avoir des rêves, des objectifs et
                        des chemins de vie bien différents, on est toujours d'accord sur ce que pense l'autre. Et souvent, lorsque les médias
                        annoncent ou parlent d'un événement, on voit que d'autres pensent comme nous. De là on s'est dit : "et
                        si on créait un média qui disait tout haut ce que l'on pense tout bas ?"<br><br>
                        Je suis quelqu'un de très terre à terre. Pour moi, la vie n'est pas rose et je n'hésite pas à dire que les faits moches
                        sont moches. Mais malgré tout, j'ai envie d'apporter une forme d'espoir aux gens. Pas le genre d'espoir qui promet la
                        paix dans le monde, la fin des conflits entre les moeurs ou la disparition des différends dans une relation. Mais dans
                        une société où certains crient à la propagande ou d'autres à la dictature iminente, montrer ouvertement qu'on n'est pas
                        tous aveugle ou crédule face au monde médiatique journalistique pourra être, je l'espère, un réconfort.<br><br>
                        Je ne sais pas où tout cela va nous mener. J'espère juste qu'on saura garder notre sincèrité, et qu'on continuera à vous
                        donner une bouchée d'air frais.</p><br><br>
                </div>
            </div>
        </div>
    </div>
</div>